*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: sans-serif;
}
.w-85{
    width: 85%;
}
.font-50{
    font-size: 50px;
}
.font-16{
    font-size: 16px;
}
.font-12{
    font-size: 12px;
}
.color-off{
    color: #ecd5be;
}
.mt-150{
    margin-top: 150px;
}
.side-right{
    right: 0;
    background-color: rgb(248, 234, 219);
}
.side-right a{
    font-size: 12px;
    color: #000;
}
.side-right a:hover{
    text-decoration: none;
    color: #00a2b9;
}
.side-right button{
    border: none;
    color: #000;
    background-color: inherit;
    font-size: 16px;
    padding: 11px 20px;
}
.side-right button:hover{
    background-color: #e6ddd7;
    transition: background-color 0.7s ease-in-out;
}
.overlay{
    bottom: 0;
    z-index: 10;
}
.content{
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 20;
}
.content h1{
    font-size: 70px;
}
.button{
    padding: 2% 3%;
    background-color: #00a2b9;
    border: none;
    color: #fff;
}
.button:hover{
    background-color:#047381;
    transition: background-color 0.7s ease-in-out;
}
.banner{
    bottom: 0;
    transform: translate(9%,50%);
    z-index: 30;
    background-color: #fff;
}
.bord{
    border-right: 1px solid #ededed;
}
.offer{
    background-color: #66c3d0;
}
.wood{
    background-image: url(../images/hotel5-footerbg.jpg);
    background-size: contain;
    padding: 50px 0;
}
.services h4{
    color: #00a2b9;
}
.pets img{
    height: 430px;
}
.pets .position-absolute{
    top: 25%;
    left: 5%;
}
footer{
    background-image: url(../images/hotel5-footerbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
@media(min-width:360px) and (max-width:575px)
{
    .content h1{
        font-size: 20px;
        margin: 0px;
    }
    .button{
        margin-top: 0 !important;
        font-size: 8px;
    }
    .banner{
        transform: translate(9%,50%);
    }
    .banner p{
        font-size: 5px;
    }
    .welcome h1{
        font-size: 20px !important;
    }
    .welcome h5{
        font-size: 10px;
    }
    .welcome p{
        font-size: 5px;
    }
    .welcome{
        margin-top: 110px;
    }
    .welcome h1, h5, p{
        padding: 0;
        margin: 0;
    }
    .welcome .col-5{
        padding-right: 0;
    }
    .offer h5{
        font-size: 15px;
    }
    .services img{
        width: 50%;
    }
    .services h4{
        font-size: 10px;
    }
    .services p{
        font-size: 5px;
    }
    .pets h1{
        font-size: 40px;
    }
    .pets p{
        font-size: 7px;
    }
    footer{
        margin-top: 60px;
    }
    footer img{
        width: 50%;
    }
    footer p{
        font-size: 8px !important;
    }
}