*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: sans-serif;
}
.font-50{
    font-size: 50px;
}
.font-16{
    font-size: 16px;
}
.font-12{
    font-size: 12px;
}
.color-off{
    color: #ecd5be;
}
.side-right{
    right: 0;
    background-color: rgb(248, 234, 219);
}
.side-right a{
    font-size: 12px;
    color: #000;
}
.side-right a:hover{
    text-decoration: none;
    color: #00a2b9;
}
.side-right button{
    border: none;
    color: #000;
    background-color: inherit;
    font-size: 16px;
    padding: 11px 20px;
}
.side-right button:hover{
    background-color: #e6ddd7;
    transition: background-color 0.7s ease-in-out;
}
.content{
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 20;
}
.content h1{
    font-size: 70px;
}
.button{
    padding: 15px 20px;
    background-color: #00a2b9;
    border: none;
    color: #fff;
}
.button:hover{
    background-color:#047381;
    transition: background-color 0.7s ease-in-out;
}
.offer{
    background-color: #66c3d0;
}
.wood{
    background-image: url(../images/hotel5-footerbg.jpg);
    background-size: contain;
    padding: 50px 0;
}
.services h4{
    color: #00a2b9;
}
footer{
    background-image: url(../images/hotel5-footerbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}